@import "../components/header.css";
@import "../components/footer.css";
@import "../layouts/flexbox.css";
@import "../global.css";
@import "../variables.css";



.profile-pic {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

#profile-info {
  text-align: center;
  background-color: white;
  padding: 15px;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 25%;
}

h2 {
  margin-top: 5px;
  font-size: 20px;
}

#profile-details {
  text-align: center;
  background-color: white;
  padding: 15px;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  margin-bottom: 15px;
}

#counters {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter i {
  font-size: 30px;
  color: var(--primary-color);
}

.counter span {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

#settings {
  text-align: center;
  background-color: white;
  padding: 15px;
  border: 2px solid var(--border-color);
  border-radius: 8px;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(18px);
}
