* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    text-align: center; 
    background-color: red;
    color: white; 
    padding: 10px; 
    width: 100%;
    margin-bottom: 10px;
}

h1 {
    text-align: center; 
    font-size: 40px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    flex-grow: 1;
    gap: 20px;
}

section { 
    background-color: white;
    width: 80%; 
    padding: 20px;
    border: 3px solid black; 
    border-radius: 8px;
    text-align: center;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-answer {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px 30px;
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-answer:hover {
    background-color: blue;
}

.hashtags {
    margin-bottom: 0px; 
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start; 
}

.hashtags span {
    background-color: red;
    padding: 5px;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

p {
    font-size: 25px;
    font-weight: bold;
}

footer {
    background-color: red;
    color: white;
    width: 100%;
    padding: 10px;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav i { 
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    list-style: none;
}

#booksmark1:hover {
    color: red;
}

#booksmark2:hover {
    color: red;
}

section i {
    padding: 0px;
    margin: 0px;
    position: relative; 
    left: 340px;
    bottom: 10px;
    color: grey;
}
footer nav a.active#bookmark {
    border-bottom: 4px solid white; /* Optional: Linie unter dem Icon */
}